.checkMain{
	width: 100%;
	position: relative;
}
.checkImgsBox{
	width: 100%;
    min-width: 980px;
	height: 765px;
	position: relative;
	overflow: hidden;
}
.checkShow{
	width: 980px;
	height: 765px;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}
.checkImgs{
	width: 7840px;
	height: 765px;
	position: absolute;
	left: -1960px;
}
.checkImgs-1{
	width: 980px;
	height: 765px;
	float: left;
}
.checkImgs-1 img{
	width: 980px;
	height: 550px;
}
.pBox{
	width: 980px;
	height: 215px;
}
.pBox p{
    display: block;
    text-align: center;
    color: #2c2b2b;
    font: bold 18px "microsoft yahei";
    padding: 40px 0 15px 0;
}
.pBox span{
	display: block;
    color: #878787;
    font: normal 14px "microsoft yahei";
    text-align: center;
}
.prev{
	width: 20px;
	height: 36px;
	position: absolute;
	bottom: 100px;
	left: 27%;
	z-index: 99;
}
.next{
	width: 20px;
	height: 36px;
	position: absolute;
	bottom: 100px;
	right: 27%;
	z-index: 99;
}
