	*{margin: 0;padding: 0;}
	img{border: none;}
	li{list-style: none;}
	a{text-decoration: none;color: #8a8a8a;}
	a:hover{color: #e71a1f;}
	.header{width: 100%;height: 60px;}
	.kg{width: 100%;height: 21px;background: #0b0c11;}
	.nav-box{width: 100%;height: 60px;background: #010102; margin: 0 auto;border-bottom: 2px solid #232428;}
	.nav-box-1{width: 97.5%;height: 60px;margin: 0 auto;}
	.logo-png{width: 41px;height:40px;}
	.nav-box ul li{float: left;text-align: center;line-height: 40px;font-family: "微软雅黑";color: #8a8a8a;font-size: 14px;}
	.hover-1:hover{border-bottom: 2px solid red;}
	.hover-2:hover{border-bottom: 2px solid red;}
	.bg-png-box{width: 100%;height: 538px;}
	.bg-png{width: 100%;height: 538px;margin: 0 auto;background-image: url(../img/猴子.jpg);background-size: 100% 538px;position: relative;background-size: cover;}
	.arrow-left{width:20px;height: 20px; background: red;border-radius: 20px;position: absolute;top: 48%;left: 20px;text-align: center;color: white;}
	.arrow-right{width:20px;height: 20px; background: red;border-radius: 20px;position: absolute;top: 48%;right: 20px;text-align: center;color: white;}
	.service-box{width: 100%;height: 470px;}
	.service{width: 100%;height: 470px;background: #19191a;margin: 0 auto;position: relative;}
	.introduce{width: 100%;height:60px;position: absolute;top: 75px;}
	.introduce p{text-align: center;line-height: 28px;color: #cecece;}
	.p1{font-size: 30px;font-family: "微软雅黑";color: #E3E3E3;}
	.choice-box{width: 100%;height: 150px;position: absolute;top: 210px;}
	.choice{width: 900px;height: 150px;margin: 0 auto;}
	.choice li{float: left;}
	.choice-logo{width: 300px;height: 80px;}
	.choice-charecter{width: 300px;height: 80px;margin-top: 20px;text-align: center;line-height: 30px;font-family: "微软雅黑";color: #cecece;}
	.p2{font-size: 20px;}
	.p3{font-size: 10px;}
	.arrow-left-2{width: 20px;height: 20px;position: absolute;top: 60%;left: 110px;color: white;}
	.arrow-right-2{width: 20px;height: 20px;position: absolute;top: 60%;right: 110px; color: white;}
	.about-us-box{width: 100%;height: 750px;}
	.about-us{width: 100%;height: 750px;margin: 0 auto;position: relative;background-image: url(../img/老牛.jpg);background-size: 1088px 750px;opacity: 0.9;filter: alpha(opacity=50);background-size: cover;}
	.ablout-p1{width: 100%;height: 30px;position: absolute;top: 70px;text-align: center;}
	.p5{font-size: 30px;color: #e3e3e3;font-family: "微软雅黑";}
	.ablout-p2{width: 100%;height: 25px;position: absolute;top: 110px;text-align: center;}
	.p4{text-align: center;font-family: "微软雅黑";font-size: 14px;color: #464646;}
	.charecter{width: 100%;height: 20px;position: absolute;top: 200px;}
	.p6{font-family: "微软雅黑";font-size: 13px;text-align: center;color: #464646}
	.more{width: 100%;height: 55px;position: absolute;top: 300px;}
	.more-btn{width: 324px;height: 50px;border: 1px solid #3a3a3a;/*position: absolute;left: 42%;*/margin: 5px auto 80px; border-radius: 50px 50px 50px 50px;font-size: 25px;text-align: center;font-family: "微软雅黑";line-height: 50px;color: #e71a1f;}
	.logo-big{width: 100%;height: 300px;position: absolute;top: 420px;}
	.moxie{width: 100%;height:300px;}
	.product-box{width: 100%;height: 250px;}
	.product{width: 100%;height: 250px;margin: 0 auto;background: #131313;position: relative;}
	.catalogue{width: 100%;height: 55px;position: absolute;top: 70px;background: red;}
	.four-choices{width: 100%;height: 33px;position: absolute;top: 150px;}
	.four-box{width: 432px;height: 30px;margin: 0 auto;}
	.choice-num{height: 33px;border: 1px solid #3e3e3e;float: left;margin-right: 2px;text-align: center;font-size: 10px;font-family: "微软雅黑";line-height: 35px;color: #616161;}
	.choice-1{width: 50px;}
	.choice-1:hover{background: red;}
	.choice-2{width: 72px;}
	.choice-2:hover{background: red;}
	.choice-3{width: 147px;}
	.choice-3:hover{background: red;}
	.choice-4{width: 147px;}
	.choice-4:hover{background: red;}
	.png-group-box{width: 100%;height: 664px;}
	.pngs{width: 100%;height: 524px;background: #131313;margin: 0 auto;}
	.setpngs{width: 24%;height: 170px;float: left;overflow: hidden;}
	.setpng{width: 265px;height: 170px;}
	.setpngs img{height: 265px;-webkit-transition: -webkit-transform .8s ease;-moz-transition: -moz-transform .8s ease;-ms-transition: -ms-transform .8s ease;transition: transform .8s ease;}
	.setpngs img:hover{-webkit-transform: scale(1.2);-moz-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2)}
	.view-more-box{width: 100%;height: 140px;background: #111111;margin: 0 auto;}
	.view-more-box:hover p{width: 100%;height: 140px;text-align: center; background: red;color: white;} /*改变背景色和字体的颜色*/
	.p9{width: 120px;height: 25px;font-size: 20px;font-family: "微软雅黑";	margin: 0 auto;line-height: 150px;color: #585858;}
	.weina-box{width: 100%;height: 485px;}
	.weina{width: 100%;height: 485px;margin: 0 auto;position: relative;background-image: url(../img/工作室.jpg);background-size: 100% 485px;background-repeat: no-repeat;background-size: cover;}
	.logo-box{width: 100%;height: 180px;position: absolute;top: 30px;}
	.logo{width: 170px;height: 170px;margin: 0px auto;border-radius: 85px;background-image: url(../img/models.jpg);background-size: 170px 170px;}
	.weinazhongsheng{width: 100%;height: 30px;text-align: center; font-size: 22px;font-family: "微软雅黑";color: #E3E3E3;position: absolute;top: 230px;}
	.long-font{text-align: center;font-family: "微软雅黑";font-size: 12px;color: #7c838a;}
	.long-font-1{width: 100%;height: 22px;position: absolute;top: 270px;}
	.long-font-2-box{width: 100%;height: 50px;position: absolute;top: 350px;}
	.long-font-2{width: 737px;height: 50px;margin: 0 auto;font-size: 13px;}
	.diary-box{width: 100%;height: 1050px;}
	.diary-main{width: 100%;height: 1050px;background: #131212;margin: 0 auto;position: relative;}
	.diary{width: 100%;height: 65px;margin:0 auto;position: absolute;top: 75px;}
	.p10{font-size: 30px;font-family: "微软雅黑";color: #E3E3E3;text-align: center;}
	.p11{font-size: 14px;font-family: "微软雅黑";color: #464646;text-align: center;}
	.datadiary-group{width: 100%;height: 600px;background: #131212;position: absolute;top: 210px;}
	.datadiary-1{width: 100%;height: 100px;}
	.datadiary-1:hover{background: red;}
	.datadiary-1:hover div{color: white;}
	.data-1:hover{margin-left: 30%;}
	.data-1{width: 690px;height: 100px;margin: 0 auto;}
	.data-left{width: 180px;height: 70px;float: left;margin-top: 15px;}
	.data-left-top{width: 180px;height: 50px;font-size: 60px;color: #e71a1f;line-height: 50px;text-align: right;font-family: "HELVETICANEUELTPRO-THEX",Arial;;}
	.data-left-bottom{width: 180px;height: 20px;font-size: 16px;color: #bdbdbd;text-align: right;}
	.data-right{width: 460px;height: 70px;float: right;margin-top: 15px;}
	.data-right-top{width: 460px;height: 20px;font-size: 16px;line-height: 20px;color: #464646;font-family: "微软雅黑";}
	.data-right-bottom{width: 460px;height: 42px;color: #5E5E5E;font-size: 13px;line-height: 22px;margin-top: 10px;font-family: "微软雅黑";overflow: hidden;}
	.datadiary-2:hover{background: red;}
	.datadiary-2:hover div{color: white;}
	.datadiary-3:hover{background: red;}
	.datadiary-3:hover div{color: white;}
	.datadiary-4:hover{background: red;}
	.datadiary-4:hover div{color: white;}
	.datadiary-5:hover{background: red;}
	.datadiary-5:hover div{color: white;}
	.datadiary-2{width: 100%;height: 100px;margin-top: 30px;}
	.datadiary-3{width: 100%;height: 100px;margin-top: 30px;}
	.datadiary-4{width: 100%;height: 100px;margin-top: 30px;}
	.datadiary-5{width: 100%;height: 100px;margin-top: 30px;}
	.more-2{width: 100%;height: 52px;position: absolute;top: 900px;}
	.more-btn-2{width: 324px;height: 50px;border: 1px solid #3a3a3a;margin: 0 auto; border-radius: 50px 50px 50px 50px;font-size: 25px;text-align: center;font-family: "微软雅黑";line-height: 50px;color: #e71a1f;}
	.more-btn-2:hover{background: white;}
	.connection-box{width: 100%;height: 540px;}
	.connection{width: 100%;height: 540px;background: #08080a;margin: 0 auto;position: relative;}
	.connection-character{width: 100%;height: 55px;position: absolute;top: 30px;}
	.contact-left{width: 465px;height: 200px;position: absolute;left: 25%;top: 150px;}
	.work-house{width: 465px;height: 20px;font-size: 15px;color: #867a74;line-height: 20px;}
	.address{width: 465px;height: 20px;margin-top: 25px;font-size: 10px;color: #867a74;line-height: 20px;}
	.postcode{width: 465px;height: 20px;margin-top: 10px;font-size: 10px;color: #867a74;line-height: 20px;}
	.tel{width: 465px;height: 20px;margin-top: 10px;font-size: 10px;color: #867a74;line-height: 20px;}
	.e-mail{width: 465px;height: 20px;margin-top: 10px;font-size: 10px;color: #867a74;line-height: 20px;}
	.three-logo{width: 100px;height: 30px;position: absolute;bottom: 0px;}
	.three-logo li{width: 25px;height: 25px;float: left;margin-right: 8px;}
	.small-logo{width: 25px;height: 25px;}
	.contact-right{width: 340px;height: 275px;position: absolute;right: 26%;top: 150px;}
	.massage1{width: 340px;height: 35px;margin-bottom: 9px;}
	.massage2{width: 335px;height: 35px;border: 2px solid #171718;background: #030304;color: #a39e98;font-family: "微软雅黑";}
	.Text{height: 108px;}
	.btn-text{height: 108px;}
	.btn{width: 340px;height: 33px;}
	.btn-btn{width: 340px;height: 33px;background: #e71a1f;border: none;color: #ffffe7;font-family: "微软雅黑";font-size: 15px;}
	.bannerpng-box{width: 100%;height: 180px;}
	.bannerpng{width: 100%;height: 180px;background: #131212;margin: 0 auto;position: relative;}
	.banner{width: 100%;height: 80px;position: absolute;top:60px;}
	.banner-box{width: 960px;height: 80px;margin: 0 auto;}
	.banner-1{width: 160px;height: 80px;float: left;}
	.png-all{width: 160px;height: 80px;}
	.arrow-left-3{width: 20px;height: 20px;border-radius: 20px; background: red;position: absolute;top: 30px;left: 23%;color: white;text-align: center;}
	.arrow-right-3{width: 20px;height: 20px;border-radius: 20px; background: red;position: absolute;top: 30px;right: 23%;color: white;text-align: center;}
	.footer-box{width: 100%;height: 60px;}
	.footer{width: 100%;height: 60px;background: #000000;margin: 0 auto;position: relative;}
	.footer-character{width: 426px;height: 20px;position: absolute;top: 20px;right: 40px;font-size: 12px;font-family: "微软雅黑";color: #a0a99e;line-height: 30px;}
	
	
